language: java
jdk: oraclejdk8
deploy:
provider: heroku
app: kids-core
api-key: 
secure: AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
#configuracao sonar - inicio
addons:
  sonarcloud:
    organization: "kids-tcc-senacrs"
    token:
      secure: d61de00c511ba13a119ae4efdfe315b9524f024f
branches:
      - master  
script:
  - sonar-scanner 
#configuracao sonar - final  